.Rproj.user
.Rhistory
.RData
.quarto/
/.quarto/
_site/
xls/
.Rproj.user/
org/
pdf/
rsconnect/
reports/
R/
py/
data/
yandex_541414edf937319d.html
~$*.xls*
data/*.xlsx


**/*.quarto_ipynb
.positai

*.knit.html
* (2).*
* (3).*
*(a copy from the computer *)*
*(копия с компьютера *)*
