/* css styles */

.quarto-title > h1.title {
  opacity: 0 !important;
}

@font-face {
  font-family: "Cera";
  src: url("fonts/Cera CY Regular.ttf");
}

.highlight {
  color: rgb(26, 74, 252);
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-logo {
  max-height: 72px;
}

h1, h2, h3, h4 {
   color: rgb(26, 74, 252);
}

h1 {
  margin-top: 0;
}

.top-box {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  margin: 0;
  padding: 0;
}

#title-block-header {
    margin-block-end: 1rem;
    position: relative;
    margin-top: 0px;
    display: none;
}

.nav-footer-center {
    flex: 1 1 0px;
    min-height: 3em;
    text-align: center;
    margin: 4%;
    padding: 0%;
    
}

.nav-footer-left{
   display: none;
}

.nav-footer-right{
   display: none;
}

.g-col-6{
   margin-left: 10px;
}

.grid{
   margin-left: 8%;
}

.consensus-table tbody tr{
      background-color: rgb(255, 255, 255); 
}