/* css styles */

.quarto-title > h1.title {
  opacity: 0 !important;
}

@font-face {
  font-family: "Cera";
  src: url("fonts/Cera CY Regular.ttf");
}

.highlight {
  color: rgb(26, 74, 252);
  font-size: 1.2em;
  font-weight: bold;
}

.navbar-logo {
  max-height: 72px;
}

h1, h2, h3, h4 {
   color: rgb(26, 74, 252);
}

h1 {
  margin-top: 0;
}

.top-box {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  margin: 0;
  padding: 0;
}

#title-block-header {
    margin-block-end: 1rem;
    position: relative;
    margin-top: 0px;
    display: none;
}

.nav-footer-center {
    flex: 1 1 0px;
    min-height: 3em;
    text-align: center;
    margin: 4%;
    padding: 0%;
    
}

.nav-footer-left{
   display: none;
}

.nav-footer-right{
   display: none;
}

.g-col-6{
   margin-left: 10px;
}

.grid{
   margin-left: 8%;
    max-width: 1400px; /* Set your desired max width */
    margin: 2%;    /* Center the grid */
}

.consensus-table tbody tr{
      background-color: rgb(255, 255, 255); 
}

.nav-tabs .nav-item .nav-link {
    background-color: #4472C4 !important;
    color: white !important;
}

/* Change the active tab appearance */
.nav-tabs .nav-item .nav-link.active {
    background-color: #ED7D31 !important;  /* Dark gray for active */
    color: white !important;
}

/* Vertical tabs */

/* Target Quarto's tabset container */
.panel-tabset {
  display: flex !important;
  flex-direction: row !important;
}

/* Vertical tabs */
.panel-tabset > .nav-tabs {
  display: flex !important;
  flex-direction: column !important;
  margin-right: 1em;
}

/* Increase space between tabs */
.panel-tabset > .nav-tabs > li {
  margin-bottom: 20px !important; /* Adjust space between tabs */
}

.panel-tabset > .nav-tabs > li > a {
  border: 1px solid #ddd !important;
  border-radius: 4px 0 0 4px !important;
  margin-right: -1px !important;
  padding: 10px 15px !important; /* Optional: Increase padding inside tabs */
}

.panel-tabset > .nav-tabs > li.active > a {
  border-right-color: transparent !important;
}

.panel-tabset > .tab-content {
  flex: 1;
}

/* Change tooltip background color */
.tooltip-inner {
    background-color: #ffcc00 !important;  /* Change to any color */
    color: black !important; /* Text color */
}

/* Change tooltip arrow color */
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #ffcc00 !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #ffcc00 !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #ffcc00 !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #ffcc00 !important;
}
